html {
    scroll-behavior: smooth;
}
body {
    background-color: #292F36;
    color: #F7B538;
    font-family: "Outfit";
    cursor: none;
}
body::-webkit-scrollbar {
    display: none;
}
h1{
    margin-top: 0;
}
h2{
    font-size: 40px;
    font-weight: 800;
    text-align: center;
    text-shadow: #797978 1px 0 8px;
}
.cursor-dot {
    height: 50px;
    width: 50px;
    background-color: #F7B538;
    mix-blend-mode: difference;
}
.cursor-outline {
    height: 70px;
    width: 70px;
    border: 2px solid #e2a129;
}
.cursor-dot, .cursor-outline {
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 1;
    pointer-events: none;
}
nav {
    display: flex;
    color: white;
    margin-bottom: 2em;
    padding: 1em;
}
.navbar.scrolled {
    background: #21262c;
    transition: all 1s;
}
ul{
    display: flex;
}
li {
    display: flex;
    padding-right: 4em;
}
li:nth-of-type(1) {
    padding-left: 5em;
}
a{
    text-decoration: none;
    color: white;
    font-weight: 700;
}
a:hover {
    color: #F7B538;
    text-shadow: #F7B538 1px 0 8px;
    text-decoration: none;
    transition: all 300ms;
    cursor: none;
}
i{
    margin-right: 1em;
}
i:nth-of-type(1){
    margin-top: 1em;
}
#introPage{
    padding: 3em;
}
#intro-box {
    padding: 50px;
    margin-top: 1em;
    width: 600px;
    font-size: 55px;
    box-shadow: 10px 5px 5px #F7B538;
}
#intro-box:hover {
    box-shadow: 15px 10px 10px #F7B538;
    font-size: 57px;
    transition: all 1s;
}
#intro-box span {
    background-color: #F7B538;
    color:#292F36;
    padding: 0.1em;
    font-weight: 500;
}
aside{
    float: right;
}
#introPage aside img {
    width: 370px;
    height: 500px;
    margin-right: 1em;
    padding-top: 4em;
    border-radius: 5%;
}
#aboutPage {
    margin-top: 2em;
    padding: 4em;
    text-align: center;
    font-size: 20px;
}
#aboutPage aside{
    float: left;
    margin-right: 2em;
}
#aboutPage aside img {
    width: 400px;
    height: 480px;
    padding-right: 2em;
    border-radius: 5%;
}
#aboutPage button {
    padding: 15px 20px;
    font-weight: 600;
    font-size: 30px;
    text-align: center;
    background-color: #292F36;
    color: #F7B538;
    border-radius: 3%;
    border: 2px solid #F7B538;
}
#aboutPage button:hover {
    background-color: #F7B538;
    color:#292F36;
    box-shadow: 2px 2px 2px #F7B538;
    transition: all 700ms;
    border: none;
}
#contactPage {
    padding: 2em;
}
#contactPage h2 {
    font-size: 50px;
    margin-bottom: 0.7em;
}
#contactPage p{
    width: 600px;
    font-size: 30px;
} 
#contactPage img {
    margin-top: 3.5em;
    margin-right: 6em;
    width: 300px;
    height: auto;
    border-radius: 3%;;
}
#contactPage img:hover {
    width: 350px;
    transition: all 500ms ease-in-out;
}
button a{
    color: #F7B538;
}
button a:hover {
    color:#21262c;
}
.animate-block img {
    width: 270px;
    height: 270px;
    margin: 3em;
}
.animate-block{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;
    animation: scrolling linear;
    animation-timeline: view();
    animation-range: entry 10% cover 70%;
}
@keyframes scrolling {
    from{
        opacity: 0;
        transform: translateX(500px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}
.autoShow {
    animation: text-appear both;
    animation-timeline: view();
    animation-range: entry 5% cover 100vh;
}
@keyframes text-appear {
    from {
        opacity: 0;
        transform: translateY(100px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
.imageReveal {
    animation: imageReveal both;
    animation-timeline: view(10%, 5%);
}
@keyframes imageReveal {
    from{
        filter: saturate(0) contrast(4) brightness(.1) blur(5px);
        opacity: 0;
        scale: .95;
        translate: 0 4rem;
    }
    to {
        filter: none;
        opacity: 1;
        scale: 1;
        translate: 0;
    }
}
.fadeUp {
    animation: fadeUp both;
    animation-timeline: view();
    animation-range: entry 10% cover 100vh;
}
@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(10px) scale(0.5);
    }
    to {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}
@keyframes fadeInUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
.fadeInUp {
  animation: 1s fadeInUp;
}

#aboutIntro{
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.slideIn:nth-of-type(1){
    font-size: 80px;
    font-weight: 1000;
    margin: 4em;
}
.slideIn {
    animation: slideIn;
    animation-duration: 1s;
    animation-delay: 300ms;
}
@keyframes slideIn {
    from{
        opacity: 0;
        scale: 0.5;
        transform: translateY(-100%);
    }
    to{
        opacity: 1;
        scale: 1;
        transform: translateY(0%);
    }
}
#milestones h2{
    font-size: 50px;
    font-weight: 800;
    margin: 1em 0 0 0;
}
.timeline {
    position: relative;
    max-width: 1200px;
    margin: 100px auto;
}
.container {
    position: relative;
    width: 50%;
    padding: 10px 50px;
    margin: 0;
    animation: movedown 1s linear forwards;
    opacity: 0;
}
@keyframes movedown{
    0%{
        opacity: 1;
        transform: translateY((-30px));
    }
    100%{
        opacity: 1;
        transform: translateY((0px));
    }
}
.container:nth-child(2){
    animation-delay:1s;
}
.container:nth-child(3){
    animation-delay:2s;
}
.container:nth-child(4){
    animation-delay:3s;
}
.container:nth-child(5){
    animation-delay:4s;
}
.text-box {
    padding: 20px 30px;
    background: #F7B538;
    position: relative;
    border-radius: 6px;
    color: #292F36;
    font-size: 15px;
}
.left-container {
    left: 0;
}
.right-container {
    left: 50%;
}
.container img{
    position: absolute;
    width: 40px;
    border-radius: 50%;
    right: -20px;
    top: 32px;
    z-index: 10;
}
.right-container img {
    left: -20px
}
.timeline::after{
    content: '';
    position: absolute;
    width: 6px;
    height: 100%;
    background-color: #F7B538;
    top: 0;
    left: 50%;
    margin-left: -3px;
    z-index: -1;
    animation: moveline 6s linear forwards;
}
@keyframes moveline {
    0%{
        height: 0;
    }
    100% {
        height: 100%;
    }
}
.text-box h3 {
    font-weight: 600;
}
.text-box small {
    display: inline-block;
    margin-bottom: 15px;
}
.left-container-arrow  {
    height: 0;
    width: 0;
    position: absolute;
    top: 29px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #F7B538;
    right: -15px;
}
.right-container-arrow  {
    height: 0;
    width: 0;
    position: absolute;
    top: 29px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid #F7B538;
    left: -15px;
}

@media screen and (max-width: 600px){
    .timeline {
        margin: 50px auto;
    }
    .timeline::after {
        left: 31px;
    }
    .container{
        width: 100%;
        padding-left: 80px;
        padding-right: 25px;
    }
    .text-box {
        font-size: 13px;
    }
    .text-box small {
        margin-bottom: 10px;
    }
    .right-container {
        left: 0;
    }
    .left-container img, .right-container img{
        left: 10px;
    }
    .left-container-arrow, .right-container-arrow{
        border-right: 15px solid #F7B538;
        border-left: 0;
        left: -15px;
    }
}

#contactContainer {
    margin: 9em;
    margin-left: 25em;
}
form{
    display: flex;
    text-align: center;
    flex-direction: column;
    margin-left: -4em;
}
label{
    text-align: left;
    font-size: 25px;
}
input, select {
    width: 450px;
    border-radius: 10%;
    margin-bottom: 1.5em;
}
#contactH2 {
    margin-right: 22em;
    margin-bottom: 1em;
    margin-top: 3em;
}
form button {
    width: 200px;
    padding: 10px 30px;
    margin-top: 1.5em;
    margin-left: 8em;
}